body{
    font-family: Inter,sans-serif;
    background: url(bg-portfolio.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
img{
    width: 100%;
}
.nav{
   padding: 0em 1em;
}
.section-one{
    padding: 1em 1em;

}
.btn{
    border-radius: 30px;
}
h1{
    font-weight: 600;
    font-size: 50px;
}
p{
    font-size: 14px;
}


@media only screen and (min-width:768px)
{

    body{
        background-position: right;
    }
    .nav{
        padding: 0em 3em;
     }
     .section-one{
         padding: 3em 3em;
     }
}