@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
body{
    font-family: Inter,sans-serif;
}
.first{
    background: url(images/bg-portfolio.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
img{
    width: 100%;
}

.section-one{
    padding: 0em 1em;

}
.btn{
    border-radius: 30px;
}
h1{
    font-weight: 700;
    font-size: 50px;
}
h2{
    font-weight: 600;
    font-size: 40px;
}
h3{
    font-weight: 600;
    font-size: 25px;
}
p{
    font-size: 14px;
    color: #585858;
}
.second{
    background-color: #f4f4f4;
}
#projects a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
#projects p{
    font-size: 12px;
}

@media only screen and (min-width:768px)
{

    h1{
        font-size: 80px;
    }
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 40px;
    }
    .nav{
        padding: 0em 3em;
     }
     .nav-item{
        margin: 0em 1em;
     }
     .section-one{
         padding: 3em 3em;
     }
}